In [8]:
import pandas as pd

# Arquivo criado para padronizar os arquivos de ITBI.
### Esses arquivos possuem varios meses em Sheets diferentes no Excel, entao esse codigo serve como ferramenta para agrupar todos em um arquivo so e mais simplificado

In [9]:
# Colunas desejadas
columns_to_keep = [
    'N° do Cadastro (SQL)',
    'CEP',
    'Valor Venal de Referência',
    'Valor de Transação (declarado pelo contribuinte)',
    'Proporção Transmitida (%)',
    'Área do Terreno (m2)',
    'Bairro'
]

# Caminho do arquivo Excel
file_paths = ['dados\GUIAS-DE-ITBI-PAGAS-2023.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_12-2022.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2021).xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2020).xlsx']

# Arquivo base filtrado vazio
itbi = pd.DataFrame()
itbi.head()

<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
<>:13: SyntaxWarning: invalid escape sequence '\G'
C:\Users\ggsna\AppData\Local\Temp\ipykernel_17568\3228341228.py:13: SyntaxWarning: invalid escape sequence '\G'
  file_paths = ['dados\GUIAS-DE-ITBI-PAGAS-2023.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_12-2022.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2021).xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2020).xlsx']
C:\Users\ggsna\AppData\Local\Temp\ipykernel_17568\3228341228.py:13: SyntaxWarning: invalid escape sequence '\G'
  file_paths = ['dados\GUIAS-DE-ITBI-PAGAS-2023.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_12-2022.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2021).xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2020).xlsx']
C:\Users\ggsna\AppData\Local\Temp\ipykernel_17568\3228341228.py:13: SyntaxWarning: invalid escape sequence '\G'
  file_paths = ['dados\GUIAS-DE-ITBI-PAGAS-2023.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_12-2022.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2021).xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2020).xlsx']
C:\Users\ggsna\AppData\Local\Temp\ipykernel_17568\3228341228.py:13: SyntaxWarning: invalid escape sequence '\G'
  file_paths = ['dados\GUIAS-DE-ITBI-PAGAS-2023.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_12-2022.xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2021).xlsx', 'dados\GUIAS_DE_ITBI_PAGAS_(2020).xlsx']

Empty DataFrame
Columns: []
Index: []

In [10]:
# Processar apenas as abas que correspondem aos meses
for file_path in file_paths:
    # Carregar o arquivo Excel
    excel_data = pd.ExcelFile(file_path)
    for sheet in [s for s in excel_data.sheet_names if '20' in s]:
        try:
            # Ler os dados e converter o número de cadastro para string após a leitura
            sheet_data = pd.read_excel(
                file_path,
                engine='openpyxl',
                sheet_name=sheet,
                usecols=columns_to_keep,
                )
            print(f"Processando a aba {sheet}...")

            # Concatenar os dados filtrados ao DataFrame final
            itbi = pd.concat([itbi, sheet_data], ignore_index=True)
        except Exception as e:
            print(f"Erro ao processar a aba {sheet}: {e}")

    # Garantir que 'N° do Cadastro (SQL)' seja string com 12 dígitos após o concat
    itbi['N° do Cadastro (SQL)'] = itbi['N° do Cadastro (SQL)'].astype(str).str.zfill(11)

    # Verificar o tipo final da coluna e os primeiros valores
    print(itbi['N° do Cadastro (SQL)'].dtype)  # Deve ser string
    print(itbi['N° do Cadastro (SQL)'].head())

Processando a aba JAN-2023...
Processando a aba FEV-2023...
Processando a aba MAR-2023...
Processando a aba ABR-2023...
Processando a aba MAI-2023...
Processando a aba JUN-2023...
Processando a aba JUL-2023...
Processando a aba AGO-2023...
Processando a aba SET-2023...
Processando a aba OUT-2023...
Processando a aba NOV-2023...
Processando a aba DEZ-2023...
object
0    13944000322
1    06726500084
2    13944000322
3    05614900926
4    13944000322
Name: N° do Cadastro (SQL), dtype: object
Processando a aba JAN-2022...
Processando a aba FEV-2022...
Processando a aba MAR-2022...
Processando a aba ABR-2022...
Processando a aba MAI-2022...
Processando a aba JUN-2022...
Processando a aba JUL-2022...
Processando a aba AGO-2022...
Processando a aba SET-2022...
Processando a aba OUT-2022...
Processando a aba NOV-2022...
Processando a aba DEZ-2022...
object
0    13944000322
1    06726500084
2    13944000322
3    05614900926
4    13944000322
Name: N° do Cadastro (SQL), dtype: object
Processando a aba JAN-2021...
Processando a aba FEV-2021...
Processando a aba MAR-2021...
Processando a aba ABR-2021...
Processando a aba MAI-2021...
Processando a aba JUN-2021...
Processando a aba JUL-2021...
Processando a aba AGO-2021...
Processando a aba SET-2021...
Processando a aba OUT-2021...
Processando a aba NOV-2021...
Processando a aba DEZ-2021...
object
0    13944000322
1    06726500084
2    13944000322
3    05614900926
4    13944000322
Name: N° do Cadastro (SQL), dtype: object
Processando a aba JAN-2020...
Processando a aba FEV-2020...
Processando a aba MAR-2020...
Processando a aba ABR-2020...
Processando a aba MAI-2020...
Processando a aba JUN-2020...
Processando a aba JUL-2020...
Processando a aba AGO-2020...
Processando a aba SET-2020...
Processando a aba OUT-2020...
Processando a aba NOV-2020...
Processando a aba DEZ-2020...
object
0    13944000322
1    06726500084
2    13944000322
3    05614900926
4    13944000322
Name: N° do Cadastro (SQL), dtype: object

In [11]:
# Salvar o DataFrame consolidado para um arquivo CSV (opcional)
itbi.to_excel('dados/IBTI_completo.xlsx', index=False)

In [12]:
# Exibir as primeiras linhas do DataFrame
itbi.head()

,N° do Cadastro (SQL),Bairro,CEP,Valor de Transação (declarado pelo contribuinte),Valor Venal de Referência,Proporção Transmitida (%),Área do Terreno (m2)
0,13944000322,VL CURUCA,8032000.0,264000.0,15828870.0,0.20,11131
1,06726500084,PARQUE VITORIA,2269090.0,800000.0,846885.0,100.00,210
2,13944000322,VL CURUCA,8032000.0,203700.0,15828870.0,0.01,11131
3,05614900926,TATUAPE,3401001.0,264000.0,3403192.0,0.08,1000
4,13944000322,VL CURUCA,8032000.0,200550.0,15828870.0,0.01,11131